<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app" class="container">
      <form>
        <div class="form-group">
          <input
            v-if="todo==null"
            @keydown.enter.prevent="addToDo"
            type="text"
            class="form-control"
            id="textToDo"
            placeholder="เพิ่มสิ่งที่ต้องทำ"
          />
          <input
            v-else
            @keydown.enter.prevent="editToDo"
            type="text"
            class="form-control"
            id="textToDo"
            :value="todo.text"
            placeholder="เพิ่มสิ่งที่ต้องทำ"
          />
        </div>
      </form>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" v-if="pageNumber!=0" @click="pageNumber--">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item" v-for="page in getPage">
            <a class="page-link" href="#" @click="pageNumber=page-1"
              >{{page}}</a
            >
          </li>
          <li class="page-item" v-if="pageNumber!=getPage-1" @click="pageNumber++">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Todo</th>
            <th scope="col">
              Operation
              <button
                type="button"
                v-if="todo!=null"
                class="btn btn-success"
                @click="addNew"
              >
                Add new
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="todo in getToDoByPaging">
            <th scope="row">{{ todo.id }}</th>
            <td>{{ todo.text }}</td>
            <td>
              <button
                type="button"
                class="btn btn-warning"
                @click="editOp(todo)"
              >
                edit
              </button>
              <button type="button" class="btn btn-danger" @click="delOp(todo)">
                delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          lastId: 4,
          todo: null,
          pageNumber: 0,
          pageSize: 3,
          todos: [
            { id: 1, text: "ล้างจาน" },
            { id: 2, text: "ซักผ้า" },
            { id: 3, text: "เล่นเกม" }
          ]
        },
        methods: {
          addToDo: function(event) {
            var newToDo = { id: this.lastId++, text: event.target.value };
            this.todos.push(newToDo);
            event.target.value = "";
          },
          editToDo: function(event) {
            this.todo.text = event.target.value;
            this.todo = null;
          },
          editOp: function(todo) {
            this.todo = todo;
          },
          delOp: function(todo) {
            var index = this.todos.findIndex(t => t.id == todo.id);
            this.todos.splice(index, 1);
          },
          addNew: function() {
            this.todo = null;
          }
        },
        computed: {
          getToDoByPaging: function() {
            var begin = this.pageNumber * this.pageSize;
            var end = begin + this.pageSize;
            return this.todos.slice(begin, end);
          },
          getPage: function() {
            return Math.ceil(this.todos.length / this.pageSize);
          }
        }
      });
    </script>
  </body>
</html>
